body {
    background-color: grey;
    background-image: url("guessyourbackground.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    
}

#output {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    padding-left: 50px;
    font-family: 'Amatic SC', cursive;
    font-size: 25px;
}

#top {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

h1 {
    font-family: 'Amatic SC', cursive;
    display: flex;
    justify-content: center;
    font-size: 100px;
    padding-right: 150px;
    margin-left: -100px;
}

textarea {
    opacity: .5;
    height: 100px;
    width: 100px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    margin-left: 300px;
    outline: none;
}

#button {
    margin-left: 275px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 150px;   
}

#guess:hover {
    background-color: rgb(26, 240, 6);
}

#restart:hover {
    background-color: rgb(26, 240, 6);
}
 
#guess{
    padding: 40px;
    margin-bottom: 20px;
    border-radius: 5px;
    font-size: 30px;
    font-family: 'Amatic SC', cursive;
    background-color: #C7DFC5;
    opacity: .7;
    outline: none;
 }

 #restart {
    border-radius: 5px;
    border: none;
    padding: 40px;
    font-size: 30px;
    font-family: 'Amatic SC', cursive;
    background-color: #C7DFC5;
    opacity: .7;
    outline: none;
 }

